<!DOCTYPE html>
<html>
  <head>
    <title>Express Authentication</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!-- <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="node_modules/systemjs/dist/system.js"></script> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

  </head>
