/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

body {
      padding-top: 50px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      background-image: url(/img/sun-above.jpg);
      background-size: cover;
    }

img {
      width: 140px;
      height: 140px;
    }

.fa-sign-out {
              float: right;
            }

.login-back {
  /*background-image: url(/img/login.jpg);*/
  background-size: cover;
  background-color: white;
  font-size: 15px;
}
