<% include ../partials/profhead %>

<div class="contact">
    <div class="row">
        <div class="col-md-6 text-center">
          <h1 class="content">Contact me</h1>
          <h3>Let's get in touch</h3></br>

        <form class="contact-me" action="mailto:chrisongts@gmail.com" enctype="text/plain" method="post">
          <p>Name: <input name="Name" type="text" id="Name" size="40"></p></br>
          <p>E-mail address: <input name="E-mail" type="text" id="E-mail" size="40"></p></br>
          <p>Message:</p>
          <p><textarea name="Message" cols="55" rows="5" id="Message"></textarea></p>
            <button class="btn btn-warning btn-lg contact-submit">Submit</button>
          </form>
        </div>
    </div>
</div>
