<% include ../partials/profhead %>

        <div class="home">
            <div class="text-center">
                <h1>Christopher Ong</h1>
                <h3>Keeps learning and Evolving.</h3>
            </div>
            <div class="btnList text-center">
                <!-- <a class="btn btn-default" href="#">Twitter</a> -->
                <a class="btn btn-default" href="https://github.com/chrisongts">Github</a>
                <a class="btn btn-default" href="https://sg.linkedin.com/in/christopher-ong-694a92106">LinkedIn</a>
                <!-- <a class="btn btn-default" href="#">FaceBook</a> -->
            </div>
        </div>
      </div>

  </body>
</html>
