<% include ../partials/profhead %>

<div class="portfolio">

    <div class="row">
        <div class="col-md-6 text-center">
          <h1 class="content">Portfolio</h1>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-4 text-center">

          <img src="/img/tic-tac-toe.png" class="port-img">
          <h4 align="center">
            Tic-Tac-Toe by Javascript
          </h4>

        </div>
        <div class="col-md-4 text-center">

          <img src="/img/quiz-game.png" class="port-img">
          <h4 align="center">
            Quiz - True of False - Javascript
          </h4>

        </div>
        <div class="col-md-4 text-center">
          <img src="/img/hangman.png" class='port-img'>
          <h4 align="center">
            Hangman - Fun game in Javascript
          </h4>
        </div>
    </div>

  </br></br></br>

    <div class="row">
        <div class="col-md-4 text-center">
          <img src="/img/mini-mart.png" class='port-img'>
          <h4 align="center">
            Ruby on Rails - Mini Mart
          </h4>
        </div>
        <div class="col-md-4 text-center">
          <img src="/img/yoda-nodejs.png" class='port-img'>
          <h4 align="center">
            First API call in Node JS - Speak like Yoda
          </h4>
        </div>
        <div class="col-md-4 text-center">
          <img src="/img/profile-express.png" class='port-img'>
          <h4 align="center">
            API call to Express Server - Personal Profile
          </h4>
        </div>
    </div>

  </br></br></br>

    <div class="row">
        <div class="col-md-4 text-center">
          <img src="/img/oflo-group.png" class='port-img'>
          <h4 align="center">
            Group project on Node/Express - Voting App
          </h4>
        </div>
        <div class="col-md-4 text-center">
          <img src="/img/todo.jpeg" class='port-img'>
          <h4 align="center">
            First Augular 2 App - Todo List
          </h4>
        </div>
        <div class="col-md-4 text-center">
          <img src="/img/final-proj.png" class='port-img'>
          <h4 align="center">
            WDI Final Project - Portfolio
          </h4>
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-6 text-center">

            <img src="/img/tic-tac-toe.png" class="port-img">
            <h4 align="center">
              Tic-Tac-Toe by Javascript
            </h4>
        </div>

        <div class="col-md-6 text-center">
            <div class="proj-circle">
              <h3 class="proj-circle-text">Project 1</h3>

            </div>

            <div class="proj-desc">
              <P>
                Description
              </P>
              </br>
              <p>
                Tic Tac Toe written in basic Javascript, html and CSS.</br></br></br>
              </p>
            </div>
        </div>

        <div class="col-md-6 text-center">

          <img src="/img/quiz-game.png" class="port-img">
          <h4 align="center">
            Quiz - True of False - Javascript
          </h4>
        </div>

        <div class="col-md-6 text-center">
            <div class="proj-circle">
              <h3 class="proj-circle-text">Project 2</h3>

            </div>

            <div class="proj-desc">
              <P>
                Description
              </P>
              </br>
              <p>
                This is a True or False quiz game. All the questions are stored in the array and being  randommised before show to the players.</br>
                This game was written in basic Javascript, html and CSS.</br></br></br>
              </p>
            </div>
        </div>

        <div class="col-md-6 text-center">

          <img src="/img/hangman.png" class='port-img'>
          <h4 align="center">
            Hangman - Fun game in Javascript
          </h4>
        </div>

        <div class="col-md-6 text-center">
            <div class="proj-circle">
              <h3 class="proj-circle-text">Project 3</h3>

            </div>

            <div class="proj-desc">
              <P>
                Description
              </P>
              </br>
              <p>
                Traditional hangman game. It is fun to play.</br>
                This game was written in basic Javascript, html and CSS.</br></br></br>
              </p>
            </div>
        </div>

        <div class="col-md-6 text-center">

          <img src="/img/mini-mart.png" class='port-img'>
          <h4 align="center">
            Ruby on Rails - Mini Mart
          </h4>
        </div>

        <div class="col-md-6 text-center">
            <div class="proj-circle">
              <h3 class="proj-circle-text">Project 4</h3>

            </div>

            <div class="proj-desc">
              <P>
                Description
              </P>
              </br>
              <p>
                This is a Mini Mart system developed with Ruby on Rails.</br>
                It comprised of front end web page and backend data base server.</br>
                There were three data models which were users, products and shoppng carts.
              </br></br></br>
              </p>
            </div>
        </div>

        <div class="col-md-6 text-center">

          <img src="/img/oflo-group.png" class='port-img'>
          <h4 align="center">
            Group project on Node/Express - Voting App
          </h4>
        </div>

        <div class="col-md-6 text-center">
            <div class="proj-circle">
              <h3 class="proj-circle-text">Project 5</h3>

            </div>

            <div class="proj-desc">
              <P>
                Description
              </P>
              </br>
              <p>
                A group project developed using Node JS with Express framework.</br>
                This system allowed students to post questions related to the course to the training instructors.</br>
                Training instructors will then collate similar questions into common questions and post them to the common questions pool. Students then can cast their votes to these common questions.
              </br></br></br>
              </p>
            </div>
        </div>

        <div class="col-md-6 text-center">

          <img src="/img/final-proj.png" class='port-img'>
          <h4 align="center">
            WDI Final Project - Portfolio
          </h4>
        </div>

        <div class="col-md-6 text-center">
            <div class="proj-circle">
              <h3 class="proj-circle-text">Project 6</h3>

            </div>

            <div class="proj-desc">
              <P>
                Description
              </P>
              </br>
              <p>
                This was my final project in the WDI course.</br>
                I have used the Node JS with Express framework to developed the front end web pages and the backend database.</br>
                I have used the Passport authentication module in the Express to build the users sign up and login functions.</br>
                I have also incorporated the Facebook and Twitter login features in this program.</br>
                </br></br></br>
              </p>
            </div>
        </div>
</div>
