<% include ../partials/profhead %>

<div class="resume">
    <div class="row">
        <div class="col-md-4 text-center">
          <h1 class="resume-content">Resume</h1>
            <div class="circle">
              <h3 class="circle-text">Education</h3>
            </div>
        </div>

        <div class="col-md-8 text-center">
              <h3 class="education" id="edu-time" align="left">General Assmbly</h3>
              <h3 align="left" class="edu-period">2016 June - Present</h3></br>
              <p>
                Currently I am attending the Web Development Immersive by General Assembly.</br>
                In this course we learnt all about web development from basic Javascript, database
                management till web program frameworks like Ruby on Rails and Express Node JS.
              </p><br /><br />

              <h3 align="left" id="edu-time">National University of Singapore</h3>
              <h3 align="left" class="edu-period">1981 - 1984</h3></br>
              <p>
                I was graduated from NUS with a degree in Science (major in Computer Science).
              </p><br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <div class="circle">
              <h3 class="circle-text">Work Experience</h3>
            </div>
        </div>

        <div class="col-md-8 text-center">
              <h3 class="work" id="work-time" align="left">Daimler SEA Pte Ltd</h3>
              <h3 align="left" class="work-period">Oct 2004 - May 2016</h3></br>
              <p>
                - Communicate Automotive Aftersales IT related market information to all clients in Asia Pacific</br>
                - Provide IT consultations and support on Automotive Aftersales IT system</br>
                - Assist Head of Department in projects and resource planning</br>
                - Coordinate rollout activities of Automotive Aftersales IT projects</br>
                - Organize regional IT workshops for APAC clients</br>
                - Liaise with project owners and IT support staff in HQ</br>
                - Provide 2nd level support to clients on Automotive  Aftersales IT systems in APAC region</br>
                - Conduct integration and quality tests on IT systems </br>
                - Service Operations team leader</br>
                - Providing application support on RFDC Barcode solution</br>
              </p><br /><br />
        </div>
    </div>
</div>
